.container {
  padding-top: 30px;
}
.inputClass {
  margin-left: 5%;
  width: 30%;
  margin-bottom: 1%;
}

//es ar mushaobs

input.ng-invalid.ng-touched {
  border: 1px solid red;
} 
.danger {
  color: red;
}